* {
	min-height: 0;
	border: none;
	border-radius: 0px;
	color: #00FF99;
}

.horizontal {
	padding: 1px;
}

#window {
	font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #00FF99;
	transition: none;
}

window#waybar {
	color: #FFFFFF;
	background-color: rgba(43, 48, 59, 0.0);
	border-bottom: none;
	transition-duration: 0.5s;
	transition-property: background-color;
}

window#waybar.hidden {
	opacity: 0.2;
}

tooltip {
        background: rgba(33, 38, 49, 0.7);
	border: 1px solid rgba(100, 114, 125, 0.5);
	font-family: "Dank Mono", "Font Awesome 6 Free", "FontAwesome", sans-serif;
	border-radius: 10px;
	font-size: 16px;
}

tooltip label {
	padding: 10px;
}

/*#workspaces {
	transition: none;
}*/

#workspaces button {
	margin: 0px 2px;
	color: #00FF99;
	font-family: "Dank Mono", "Font Awesome 6 Free", "FontAwesome", sans-serif;
	font-size: 20px;
	border-radius: 0.4rem;
}

#workspaces button.hover {
	color: #00B8FF;
	background: #00B8FF;
	box-shadow: inherit;
}

#workspaces button.active {
/*	color: #00B8FF;*/
	background-color: rgba(0, 255, 153, 0.2);
	font-weight: bold;
	box-shadow: inherit;
}

#workspaces button.urgent {
	color: #F9FE15;
	border: 1px solid #F9FE15;
}

#cpu,
#tray,
#mode,
#clock,
#custom-weather,
#custom-loadshedding,
#custom-dunst,
#memory,
#network,
#battery,
#backlight,
#pulseaudio,
#temperature {
	margin: 0px 2px;
	padding: 0rem 0.5rem;
        background: rgba(33, 38, 49, 0.7);
	color: #00FF99;
	font-family: "Dank Mono", "Font Awesome 6 Free", "FontAwesome", sans-serif;
	font-size: 16px;
	border-radius: 10px;
}

@keyframes blinkR {
	from {
		border: 1px solid transparent;
	}
	to {
		border: 1px solid #CB0C59;
	}
}

@keyframes blinkY {
	from {
		border: 1px solid transparent;
	}
	to {
		border: 1px solid #F9FE15;
	}
}

#battery.warning.charging {
	color: #F9FE15;
	background-color: transparent;
}

#battery.warning:not(.charging) {
	color: #F9FE15;
	background-color: transparent;
}

#battery.critical:not(.charging) {
	color: #CB0C59;
	border: 1px solid #CB0C59;
	border-radius: 0.4rem;
	animation-name: blinkR;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

label:focus {
	background-color: #2e3440;
}

#backlight.value {
	min-width: 20px;
}

#network.disconnected {
	color: #F9FE15;
}

#pulseaudio.muted.icon {
	background-color: gray;
	/*color: #2a5c45;*/
}

#temperature.critical {
	/* background-color: #CB0C59; */
        border:1px solid #CB0C59;
        border-radius: 0.4rem;
        color: #CB0C59;
        animation-name: blinkR;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
}

#custom-logo {
	font-size: 1.3em;
}

#clock {
	color: #00FF99;
        border: 1px solid #00FF99;
	border-radius: 0.4rem;
}

#custom-weather.severe {
	color: #eb937d;
}

#custom-weather.sunnyDay {
	color: #c2ca76;
}

#custom-weather.clearNight {
	color: #ffffff;
}

#custom-weather.cloudyFoggyDay, #custom-weather.cloudyFoggyNight {
	color: #c2ddda;
}

#custom-weather.rainyDay, #custom-weather.rainyNight {
	color: #5aaca5;
}

#custom-weather.showyIcyDay, #custom-weather.snowyIcyNight {
	color: #d6e7e5;
}

#custom-weather.default {
	color: #dbd9d8;
}

#custom-loadshedding.none {
	color: #00FF99;
}

#custom-loadshedding.days, #custom-loadshedding.tomorrow, #custom-loadshedding.later {
	color: #F9FE15;
}

#custom-loadshedding.minutes {
	border:1px solid #F9FE15;
	border-radius: 0.4rem;
	color: #F9FE15;
	animation-name: blinkY;
	animation-duration: 1.0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#custom-loadshedding.sheddingALoad {
	color: #CB0C59;
}
