window {
	margin: 0px;
	background-color: rgba(25, 23, 36, 0.7);
	border-radius: 10px;
	border: 2px solid rgba(0, 255, 153, 1.0);
}

#input {
	padding: 4px;
	margin: 4px;
	padding-left: 20px;
	border: none;
	color: rgba(0, 255, 153, 1.0);
	font-weight: bold;
	background-color: rgba(25, 23, 36, 0.7);
	background: rgba(25, 23, 36, 0.7);
	outline: none;
	border-radius: 5px;
	margin: 10px;
	margin-bottom: 2px;
}
#input:focus {
	border: 1px solid rgba(149, 128, 255, 1.0);
	margin-bottom: 0px;
}

#inner-box {
	margin: 4px;
	color: rgba(0, 255, 153, 1.0);
	font-weight: bold;
	background-color: rgba(25, 23, 36, 0.7);
	border-radius: 10px;
	backdrop-filter: blur(15px);
}

#outer-box {
	margin: 0px;
	border: none;
	border-radius: 10px;
	background-color: rgba(25, 23, 36, 0.7);
	backdrop-filter: blur(15px);
}

#scroll {
	margin-top: 5px;
	border: none;
	border-radius: 15px;
	margin-bottom: 5px;
}

#text:selected {
	color: rgba(0, 255, 153, 1.0);
	margin: 0px 0px;
	border: none;
	border-radius: 15px;
}

#entry {
	margin: 0px 0px;
	border: none;
	border-radius: 5px;
	background-color: transparent;
}

#entry:selected {
	margin: 0px 0px;
	border: 1px solid rgba(0, 255, 153, 1.0);
	border-radius: 5px;
	background: rgba(0, 255, 153, 0.4);
}
