#window {
	background-color: rgba(0, 0, 0, 0);
}

entry#entry {
	color: rgba(0, 255, 153, 5);
}

box#main {
	border-radius: 10px;
	background-color: rgba(16, 18, 28, 0.8);
	color: rgba(0, 255, 153, 5);
	border-color: rgba(0, 255, 153, 255);
}

list#main {
	background-color: rgba(0, 0, 0, 0);
	border-radius: 10px;
}

list#plugin {
	background-color: rgba(0, 0, 0, 0);
}

box#match {
	background-color: rgba(16, 18, 28, 0.5);
	color: rgba(0, 255, 153, 5);
}

label#match-title {
/*	color: rgba(0, 184, 255, 255);*/
	color: rgba(0, 255, 153, 5);
	font-size: 12px;
}

/*label#match-desc {*/
/*	color: rgba(0, 255, 153, 5);*/
/*	font-size: 12px;*/
/*}*/

label#plugin {
	color: rgba(0, 184, 255, 255);
	font-size: 14px;
}
