/* Termite configuration */
VteTerminal, vte-terminal {
	/*padding: 30px;*/
	padding: 18px;
}

/* Textboxes */
GtkEntry {
	padding: 6px 6px 6px 6px;
	border-width: 4px;
	border-style: solid;
	border-radius: 20px;
	border-color: #DEE6E7;
	/*Disable shadow*/
	box-shadow: 0 0 0 0px;
	/*If font is unset, the current system font will be used.*/
	font-family: monospace;
	font-size: 9pt;
}

/* menu, */
/* .csd .menu, */
/* .csd .dropdown, */
/* .csd .context-menu { */
	/* border-radius: 1px; */
/* } */
menu, 
.menu, 
.context-menu { 
	margin: 4px; padding: 2px 2px; 
}
.csd menu, 
.csd .menu, 
.csd .context-menu { 
	border: none;
	border-radius: 2px;
}
menu menuitem,
.menu menuitem,
.context-menu menuitem {
	margin: 0;
	border-radius: 2px;
	padding: 2px 4px;
}
menu separator {
	margin: 3px 0
}

button, entry {
	padding: 2px 2px;
}
